<style>
    .main-content {
        max-width: 100% important!;
        padding: 2rem 6rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  .full-width {
  width: 100vw; /* Viewport width */
  margin: 0;    /* Remove default margin */
}
</style>

<script>
      // Function to load the menu
      function loadMenu() {
          fetch('/ta_includes/tamenu.html')
              .then(response => response.text())
              .then(data => {
                  // Create a temporary div to hold the menu content
                  const tempDiv = document.createElement('div');
                  tempDiv.innerHTML = data;

                  // Get the menu element
                  const menu = tempDiv.firstElementChild;

                  // Get the content div
                  const contentDiv = document.getElementById('content');

                  // Insert the menu before the content div
                  contentDiv.parentNode.insertBefore(menu, contentDiv);
              })
              .catch(error => console.error('Error loading menu:', error));
      }

      // Load the menu when the page loads
      window.onload = loadMenu;
  </script>