<nav class="menu">
  <ol>
    <li class="menu-item"><a href="/">Home</a></li>
    <li class="menu-item"><a href="https://aisolutions.vn/">Aisolutions.vn</a></li>

    <li class="menu-item">
      <a href="#0">PM</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="/Management">Project Managerments Basic</a></li> 
      </ol>
    </li>

    <li class="menu-item">
      <a href="#0">Vision</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="/Vision">Vision Basic</a></li> 
      </ol>
    </li>
    
    <li class="menu-item">
      <a href="#0">Web System</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="/Web-System-Tools">Web System Basic</a></li> 
      </ol>
    </li>

    <li class="menu-item"><a href="/about.md">Contact</a></li>
  </ol>
</nav>